services:
  spark-master:
    image: spark:3.5.2-java17
    user: "root"
    ports:
      - "4040:4040"
      - "8080:8080"
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.master.Master
    volumes:
      - ./spark-defaults.conf:/opt/spark/conf/spark-defaults.conf:ro
      - /tmp/spark-shared:/tmp/spark-shared:rw
    deploy:
      resources:
        limits:
          cpus: 2.0
          memory: 4g

  spark-worker-01: &worker
    image: spark:3.5.2-java17
    user: "root"
    ports:
      - "8081:8081"
    volumes:
      - ./spark-defaults.conf:/opt/spark/conf/spark-defaults.conf:ro
    environment:
      SPARK_WORKER_CORES: 4
      SPARK_WORKER_MEMORY: 2g
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.worker.Worker spark://spark-master:7077
    deploy:
      resources:
        limits:
          cpus: 4.0
          memory: 3g

  spark-worker-02:
    <<: *worker
    ports:
      - "8082:8081"

  minio:
    image: quay.io/minio/minio
    volumes:
      - ./minio_data:/data:rw
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minio-spark-example
      MINIO_ROOT_PASSWORD: minio-spark-example
    command: server /data --console-address ":9001"
    deploy:
      resources:
        limits:
          cpus: 2.0
          memory: 2g

  postgres:
    container_name: postgres
    image: postgres:16.4-alpine3.20
    ports:
      - "5432:5432"
    volumes:
      - ./postgres_data:/var/lib/postgresql/data:rw
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 10s
      retries: 3
      start_period: 2s
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    deploy:
      resources:
        limits:
          cpus: "1.0"
          memory: "2G"
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
        window: 120s

  polaris-bootstrap:
    image: apache/polaris-admin-tool:1.1.0-incubating
    environment:
      - POLARIS_PERSISTENCE_TYPE=relational-jdbc
      - QUARKUS_DATASOURCE_JDBC_URL=jdbc:postgresql://postgres:5432/
      - QUARKUS_DATASOURCE_USERNAME=postgres
      - QUARKUS_DATASOURCE_PASSWORD=postgres
    command:
      - "bootstrap"
      - "--realm=POLARIS"
      - "--credential=POLARIS,root,s3cr3t"

  polaris:
    image: apache/polaris:1.1.0-incubating
    ports:
      - "8181:8181"
      - "8182:8182"
    environment:
      AWS_ACCESS_KEY_ID: minio-spark-example
      AWS_SECRET_ACCESS_KEY: minio-spark-example
      POLARIS_BOOTSTRAP_CREDENTIALS: POLARIS,root,s3cr3t
      polaris.persistence.type: "relational-jdbc"
      quarkus.datasource.jdbc.url: "jdbc:postgresql://postgres:5432/"
      quarkus.datasource.username: "postgres"
      quarkus.datasource.password: "postgres"
      POLARIS_REALM_CONTEXT_REALMS: POLARIS
